<%- include ('partials/header.ejs') %>

  <body class="d-flex flex-column min-vh-100">
    <%- include ('partials/navbar.ejs') %>

      <div class="container">
        <div class="header-perguntas">
          <br>
          <div class="title-btn d-flex justify-content-between align-items-center">
            <h1 data-aos="fade">Perguntas</h1>
            <a data-aos="fade" href="/perguntar" class="btn btn-info">Perguntar</a>

          </div>
          <hr data-aos="fade" data-aos-delay="200">
        </div>

        <% perguntas.forEach(pergunta=> { contador += 13 %>
          <br>
          <div class="card" data-aos-delay="<%= contador %>" <% if (pergunta.id) { %>
            data-aos="fade"
            <% } %> >
              <div class="card-header d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-end">
                  <img class="img-thumbnail" style="width: 7.5%"
                    src="https://filestore.community.support.microsoft.com/api/images/6061bd47-2818-4f2b-b04a-5a9ddb6f6467?upload=true"
                    alt="Imagem anonima" title="imagem qualquer">
                  <p class="p-0 ml-1 mb-0">@UserName</p>

                </div>

                <div class="btn-group ">

                  <p type="button" class="text-dark border-0 dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                  </p>

                  <div class="dropdown-menu dropdown-menu-right">

                    <div class="dropdown-item bg-white " data-toggle="modal" data-target="#exampleModalCenter"
                      style="cursor: pointer;">
                      <button type="button" class="btn m-0 p-0">
                        <i class=" fa-solid fa-trash"></i>
                        Excluir
                      </button>
                    </div>

                    <!-- <form action="/excluir" method="POST" class="dropdown-item" data-toggle="modal"
                      data-target="#exampleModalCenter">
                      <input type="hidden" name="id" value="<%= pergunta.id %>">
                    </form> -->

                  </div>
                </div>

                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title font-wegth" id="exampleModalLongTitle">⚠️ Atenção!</h5>
                      </div>
                      <div class="modal-body">
                        Você realmente deseja excluir esta pergunta?
                      </div>
                      <div class="modal-footer d-flex justify-content-end">
                        <button type="button" class="btn btn-secondary m-0" data-dismiss="modal">Sair</button>
                        <form action="/excluir" method="POST">
                          <input type="hidden" name="id" value="<%= pergunta.id %>">
                          <button class="btn btn-danger m-0">Excluir</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

              </div>



              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <h3>
                    <%= pergunta.titulo %>
                  </h3>


                </div>

                <%= pergunta.descricao %>
              </div>
              <div class="card-footer d-flex justify-content-between  align-items-center">
                <a href="/pergunta/<%= pergunta.id %>"><button class="btn btn-dark">Responder</button></a>
                <p>
                  <%= new Date(pergunta.createdAt).toLocaleDateString('pt-BR', { day: '2-digit' , month: 'numeric' ,
                    year: 'numeric' }) %>
                </p>
              </div>
          </div>
          <% }) %>
      </div>
      <div style="margin-top: 150px;"></div>



      <%- include ('partials/rodape.ejs') %>

  </body>

  <%- include ('partials/footer.ejs') %>