<%- include ('partials/header.ejs') %>

  <body class="d-flex flex-column min-vh-100">
    <%- include ('partials/navbar.ejs') %>

      <div class="container">
        <hr data-aos="fade" data-aos-delay="200">
        <h1 data-aos="fade" data-aos-delay="20">
          <%= pergunta.titulo %>
        </h1>
        <p data-aos="fade" data-aos-delay="100">
          <%= pergunta.descricao %>
        </p>
        <hr data-aos="fade" data-aos-delay="200">


        <% if (erros) { %>
          <div class="mostrar-erros mt-2  ">
            <% erros.erros.forEach(erro=> { contador += 50%>
              <div class="alert alert-danger mt-2 mb-0" data-aos="fade-left" c role="alert">
                <%= erro %>
              </div>
              <% }) %>
          </div>
          <% } %>

            <form method="POST" action="/responder">
              <h3 data-aos="fade" data-aos-delay="70">Responda</h3>
              <label data-aos="fade" data-aos-delay="100">Resposta:</label>
              <textarea data-aos="fade" data-aos-delay="100" name="corpo" placeholder="Digite sua resposta"
                class="form-control"></textarea>
              <br>
              <input type="hidden" name="pergunta" value=" <%= pergunta.id %> ">
              <button data-aos="fade" data-aos-delay="150" type="submit" class="btn btn-dark">Responder</button>
            </form>
            <hr data-aos="fade" data-aos-delay="200">
            <h3 data-aos="fade" data-aos-delay="200">Respostas</h3>
            <hr data-aos="fade" data-aos-delay="200">
            <% respostas.forEach(resposta=> { contador += 50 %>
              <br>
              <div data-aos="fade-left" data-aos-delay="<%= contador %>" class="card">
                <div class="card-body">
                  <p>
                    <%= resposta.corpo %>
                  </p>
                </div>
              </div>

              <% }) %>

      </div>
      <div>

      </div>


      <div style="margin-top: 150px;">
        <%- include ('partials/rodape.ejs') %>
      </div>


  </body>

  <%- include ('partials/footer.ejs') %>